.book {
  display: flex;
  max-width: 400px;
  background-color: #987;
  box-shadow: 0 4px 4px rgba(0,0,0,0.7);
  padding: 20px;
  margin: 5px;
}

.book-cover {
  height: 162px;
  margin: 5px;
}

.book-info {
  min-width: 200px;
  padding: 5px;
}

.book-title {
  font-size: 32px;
  color: #456;
  text-align: center;
}

.book-pages,
.book-published,
.book-description {
  font-size: 18px;
  color: #444;
}
